:root {
    --main-color: #f76c6c;
    --light: white;
    --spacing: 8px;
    --spacing-2: calc(var(--spacing) * 2);
}

body {
    margin:0;
}

* {
    box-sizing: border-box;
}

h1 {
    color: var(--main-color); 
}

nav {
    background-color: var(--main-color); 
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-2);
    align-items: center;
}

nav a:any-link {
    color: var(--light);
    text-decoration: none;
}

.items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.brand {
    font-size: 1.6em;
}
